{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "plugins": [ 
      "babel-plugin-styled-components", 
      "@babel/plugin-proposal-class-properties",
      ["transform-inline-environment-variables", {
      "include": [
        "NODE_ENV"
      ]
      }]
    ]
}